{{>layouts/header}}

<form action="/article/create" method="post">
    <input name="title"/><br/>
    <textarea name="content"></textarea><br/>
    <button type="submit">
        Submit
    </button>
</form>

{{>layouts/footer}}