@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 18px;
}
.navbar-collapse{
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #111;
}
p{
    margin:0;
}
#topMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mainMenu{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}
#mainMenu>li{
    margin-right: 70px;
}
#loginMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
}
#loginMenu>li{
    margin-right: 20px;
}
.nav-item>a:hover{
    color:aquamarine;
}

/*회원가입,로그인*/
#signBox,#loginBox{
    width: 400px;
    margin: 0 auto;
    padding: 20px 40px;
}
#signBox>h1,#loginBox>h1{
    text-align: center;
    margin: 10px 0 60px 0;
}
.signUpForm,.loginForm{
    padding: 40px 20px;
    border: 1px solid #111;
    border-radius: 20px;
}
.signUpForm>ul,.loginForm>ul{
    padding: 0;
}
.signUpForm>ul>li,.loginForm>ul>li{
    margin-bottom: 20px;
}
.signUpForm>ul>li>input,.loginForm>ul>li>input{
    margin-right: 54px;
    width: 100%;
    padding-left: 4px;
}
.btn{
    width: 95%;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    border:1px solid #333;
}
.btn:hover{
    background-color: aquamarine;
}
#preimg{
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
#email,#certi{
    width: 75%;
}
.checkbox{
    position: relative;
    margin-bottom: 40px !important;
}
.checkbox>p{
    margin-bottom: 0;
}
.idcheckbox,.pwcheckbox,.pwconfirmcheckbox,.namecheckbox,.phonecheckbox,.emailcheckbox,.timebox{
    position: absolute;
    bottom: -24px;
    left: 0;
    font-size: 14px;
}
.send{
    position: absolute;
    right: 0;
    top: 27px;
    width: 60px;
    height: 31px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #d4d4d4;
}
.send:hover{
    background-color: aquamarine;
}

/*게시판*/
.page-item{
    cursor : pointer;
}
#boardInfo{
    display: flex;
    justify-content : space-between;
    align-items : center;
    margin-bottom: 20px;
    margin-top: 40px;
}
#boardSearch{
    width:360px;
    margin: 0 auto;
    margin-top:40px;
}
#writeBtn{
    width: 100px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    border:1px solid #333;
    background-color : #fff;
}
.table{
    margin-bottom:40px;
}
#searchBtn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border:1px solid #333;
    background-color : #fff;
}
#writeBtn:hover,#searchBtn:hover{
    background-color: aquamarine;
}
.pageBoardSize{
    width:104px;
}
.key{
    width:60px;
    height:31px;
}
.keyword{
    padding:1px 10px;
}
/*개별글*/
.sangsaeBox{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.topBoard{
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 2px solid #000;
    margin-top: 100px;
}
#writeInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4px;
    border-top : 1px solid #111;
    border-bottom : 1px solid #111;
}
#infoBox,#categoryInfo,.fileBox{
    display: flex;
}
.writerInfo{
    display: flex;
    margin-left: 20px;
}
.btitle{
    width: 100%;
    background-color: #fff;
    border-bottom: none;
    padding: 4px 8px;
    font-size: 24px;
}
.bcontent{
    width: 100%;
    margin-bottom: 6px;
    background-color: #fff;
    padding: 30px 10px;
    border-bottom : 1px solid #111;
}
.bottomBoard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4px;
    margin-bottom: 120px;
}
.boardBtn{
    width: 100px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    background-color: #fff;
}
.boardBtn:nth-child(2){
    margin-left: 10px;
}
.boardBtn:hover{
    background-color: aquamarine;
}
.backBoardList>a:hover{
    color:rgb(47, 149, 115);
    text-decoration: underline;
}