@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 18px;
}
#topMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mainMenu{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}
#mainMenu>li{
    margin-right: 70px;
}
#loginMenu{
    margin-left: 120px;
}
#userName{
    padding: 9px;
}