{{>ezen/header}}
    <div class="container">
        <h3>게시판</h3>
        <a href="/board/write">글쓰기</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width:5%">번호</th>
                    <th scope="col" style="width:60%">제목</th>
                    <th scope="col" style="width:15%">작성자</th>
                    <th scope="col" style="width:15%">작성일</th>
                    <th scope="col" style="width:5%">조회수</th>
                </tr>
            </thead>
            <tbody id="boardTableBody" class="table-group-divider">

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

            </ul>
        </nav>
    </div>
    <script src="/js/board/board.js"></script>
{{>ezen/footer}}