{{>ezen/header}}
    <div class="sangsaeBox">
        <div class="topBoard">
            <h3>게시물 상세페이지</h3>
            <p class="backBoardList">
                <a href="/board">목록가기</a>
            </p>
        </div>
        <div class="btitle"></div>
        <div id="writeInfo">
            <div id="categoryInfo">
                <p>카테고리 : </p><div class="bcno"></div>
            </div>
            <div id="infoBox">
                <div class="writerInfo">
                    <p>작성자 : </p><div class="mno"></div>
                </div>
                <div class="writerInfo">
                    <p>작성일 : </p><div class="bdate"></div>
                </div>
                <div class="writerInfo">
                    <p>조회수 : </p><div class="bview"></div>
                </div>
            </div>
        </div>
        <div class="bcontent"></div>
        <div class="bottomBoard">
            <div class="fileBox">
                <p>첨부파일 : </p><div class="bfile"></div>
            </div>
            <div class="btnBox">

            </div>
        </div>
        <div class="replyBox">
            <div>
                <textarea class="brcontent0"></textarea>
                <button onclick="onReplyWrite(0)" type="button"> 댓글 작성 </button>
            </div>
            <div class="replyListBox"></div>
        </div>
    </div>
    <script src="/js/board/view.js"></script>
{{>ezen/footer}}