{{>ezen/header}}
    <div id="signBox">
        <h1>회원가입 페이지</h1>
        <script src="/js/member.js"></script>

        <form class="signUpForm">
            <ul>
                <li class="idbox">
                    아이디<input onkeyup="idCheck()" type="text" id="id" name="id"/>
                    <span class="idcheckbox"></span>
                </li>
                <li class="pwbox">
                    비밀번호<input onkeyup="pwCheck()" type="text" id="pw" name="pw"/>
                    <span class="pwcheckbox"></span>
                </li>
                <li class="pwconfirmbox">
                    비밀번호 확인<input onkeyup="pwCheck()" type="text" id="pwconfirm" name="pwconfirm"/>
                    <span class="pwconfirmcheckbox"></span>
                </li>
                <li>
                    이름<input type="text" id="name" name="name"/>
                </li>
                <li>
                    전화번호<input type="text" id="phone" name="phone"/>
                </li>
                <li>
                    이메일<input type="text" id="email" name="email"/>
                </li>
                <li>
                    프로필 사진<input onchange="onChangeImg(this)" type="file" id="img" name="img" accept="image/*"/>
                </li>
                <li>
                    미리보기<img id="preimg" src="/img/default.jpg" width="250px"/>
                </li>
            </ul>
            <button class="firstBtn" type="button" onclick="signup()">회원가입</button>
            <button class="lastBtn">
                <a href="/member/login">로그인</a>
            </button>
        </form>
    </div>
{{>ezen/footer}}